<div class="row">
    <%= link_to ' Back', users_path, class: "fas fa-arrow-left text-decoration-none col-4 main_cl" %>
    <p class="col-6 fw-bolder">CREATE NEW user</p>
</div>

<%= render 'form', user: @user %>