<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Re-form</a>
    <a class="navbar-brand" href="/users/new">Create New User</a>
  </div>
</nav>